.footer {
    background-color: #424242;
    bottom: 0;
  }
  
  .footerToolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footerLogoButton {
    padding: 0;
    margin-right: 2rem;
  }
  
  .footerLogo {
    height: 7rem;
    width: auto;
  }
  
  .footerLinks {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .footerButton {
    color: white;
  }
  
  @media (max-width: 600px) {
    .footerToolbar {
      flex-direction: column;
      align-items: center;
    }
  
    .footerLogo {
      height: 5rem;
      margin-bottom: 1rem;
    }
  
    .footerLinks {
      flex-direction: column;
    }
  
    .footerButton {
      margin-bottom: 0.5rem;
    }
  }
  