.footerAppBar {
    background-color: #424242;
  }
  
  .footerToolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  
  .footerLogoButton {
    padding: 0;
    margin-right: 2rem;
  }
  
  .footerLogo {
    height: 7rem;
    width: auto;
  }
  
  .footerLinks {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
  }
  
  @media (max-width: 900px) {
    .footerToolbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
    }
  
    .footerLogoButton {
      margin-bottom: 1rem;
    }
  
    .footerLinks {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  
    .footerLinks Button {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
  